# Global ignores
.DS_Store
Thumbs.db

# Environment files
.env

# Node.js / frontend
/app/frontend/taichu/node_modules/
/app/frontend/taichu/.next/
/app/frontend/taichu/dist/
/app/frontend/taichu/out/

# Rust / backend
/app/backend/target/
/app/backend/data/
/app/backend/.env
/app/frontend/taichu/.git.disabled/

# Editor / IDE
/.idea/
/.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / temp
desktop.ini
