BACKEND_HOST=127.0.0.1
BACKEND_PORT=4000
BACKEND_DATA_DIR=./data

YUANLING_ENABLED=true
YUANLING_AI_PROVIDER=none
YUANLING_AI_MODEL=local-default
YUANLING_MEMORY_STRATEGY=window
YUANLING_MEMORY_MAX_TURNS=20
